@model List<CoffeeTable>

@{
    ViewData["Title"] = "Index";
    <link href="~/css/Product.css" rel="stylesheet" type="text/css" />
}

<body>
    <h1>List of Products</h1>


    @foreach (CoffeeTable item in Model)
    {
        <a href="/Product/Detail?ProductID=@item.ProductID">@item.ProductName</a>
        <br />
    }

</body>



