@{
    ViewData["Title"] = "Privacy Policy";
    <link href="~/css/HomeIndex.css" rel="stylesheet" type="text/css" />
}

<body>
    <h1>@ViewData["Title"]</h1>

    <br />

    <p>Use this page to detail your site's privacy policy.</p>
</body>

