@model List<CoffeeTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<b style="color:red;">@ViewBag.Message</b>

@foreach (CoffeeTable prod in Model)
{
    <h3>@prod.ProductName</h3>
    <button><a href="/Admin/Edit?ProductID=@prod.ProductID">Edit</a></button> @*<button>Delete</button>*@
    <br />
}

<br />
<br />

<a href="/Admin/Add">Add A New Product</a>
